[submodule "sos-plugin-includes"]
	path = sos-plugin-includes
	url = https://gitlab.com/bakkesplugins/sos/sos-plugin-includes.git
	branch = master
[submodule "RenderingTools"]
	path = RenderingTools
	url = https://github.com/CinderBlocc/RenderingTools.git
	branch = master
